html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1vw;
    font-family: 'Helvetica Neue', arial, helvetica, helve, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.portrait {
    display: none !important;
}

.block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    height: 100%;

}

.vertical {
    flex-direction: column;
}

.clock {
    font-size: 3em;
    font-weight: 600;
    // margin: 0 .5em;
    padding: 0 1rem;
    flex-shrink: 0;
    // background-color: darkkhaki;
}

.weather {
    flex-direction: row-reverse;
    justify-content: center;
    // margin: 0 2em 0 0;
    padding-right: 2em;
    flex-shrink: 0;
    // background-color: chartreuse;
    // padding-top: 1em;
    .temp {
        font-size: 2.5em;
        font-weight: 600;
    }
    img {
        width: 7em;
        // border: 1px solid red;
    }
}

.quotes {
    padding: 0 1rem;
    font-size: 1.6em;
    // margin: 0 .5em 0 0;
    min-width: 5em;
    // flex-basis: 8em;
    flex-shrink: 0;
    padding-bottom: .5em;
    // background-color: brown;

    .block {
      justify-content: center;
    }

    .id {
        font-size: .8em;
        font-weight: 700;
        // display: inline-flex;
        // justify-content: center;
        // justify-self: flex-start;
        // background-color: aliceblue;
    }

    .value {
        // display: inline-flex;
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
        padding: .1em .4em;
        margin: 0 .2em .1em .2em;
        border-radius: .3em;
        font-weight: bolder;
        background-color: black;
    }
}

.news {
    flex-grow: 1;
    align-items: center;
    // margin-left: 1em;
    padding: 0 1rem;
    // background-color: aqua;

    .channel {
        height: 5em;
        min-width: 6em;
        border-radius: .5em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        // background-color: white;
    }

    .title {
        padding: 0 .5em;
        text-align: justify;
        flex-grow: 1;
    }
}





.sponsor {
    min-width: 12em;
    // background-color: cornflowerblue;

    .image {
        // background-color: darksalmon;
        height: 5em;
        min-width: 11em;
        border-radius: .5em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (orientation:portrait) {

    html {
        font-size: 2vh;
    }

    .landscape {
        display: none !important;
    }

    .portrait {
        display: inherit !important;
    }

    .App {
        flex-direction: column;
    }
}

